# App settings
SECRET_KEY = "Tl9kly7MpugzU-ZIqIyo9w"

# App database settings
SQLALCHEMY_DATABASE_URI = "sqlite:///./database/order.db"
SQLALCHEMY_TRACK_MODIFICATIONS = "true"

# Microservices routes configuration
USER_API = 'http://127.0.0.1:5001/api/user/'
