# App security config
SECRET_KEY = "VjvlamuX8apytCsVXlgpHg"
WTF_CSRF_SECRET_KEY = "YGelfqyU3hAUZiTIWyqKhA"

# APIs connection
USER_API_URL = "http:/127.0.0.1:5001/api/user/"
BOOK_API_URL = "http:/127.0.0.1:5002/api/book/"
ORDER_API_URL = "http:/127.0.0.1:5003/api/order/"
